body {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Mulish", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 60%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container__box {
    border-top: 0.5px dashed #cfcfcf;
}

.title_main {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.title_sub {
    font-size: 24px;
}

.list__title {
    list-style-type: none;
    font-size: 18px;
}

.contacts__list {
    padding: 0;
    list-style-type: none;
}

.main-box {
    margin-left: 2%;
}

.aside-box {
    margin-right: 2%;
}

.experience__project {
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.project-name {
    font-weight: 600;
    font-size: 18px;
}

.project-img {
    width: 300px;
    height: auto;
}